apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: argocd-cert
  namespace: argocd
spec:
  dnsNames:
    - www.argocd.coding-assistant.ch
  secretName: argocd-letsencrypt-tls
  issuerRef:
    name: letsencrypt-nginx
    kind: ClusterIssuer